body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #444;

    background:
        linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.95)),
        url("https://images.unsplash.com/photo-1505691938895-1758d7feb511");

    background-size: cover;
    background-position: center;
}

/* контейнер */
.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #f5a9b8;
    font-weight: 500;
}

/* форма */
form {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

/* поля */
input,
.date-input,
.dropdown-input {
    width: 100%;
    height: 44px;

    margin: 8px 0;
    padding: 10px 12px;

    border-radius: 12px;
    border: 1px solid #eee;
    background: #fafafa;

    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #444;

    box-sizing: border-box;
}

/* кнопка */
button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 12px;
    border: none;

    background: #f8c8dc;
    color: #555;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f5a9b8;
    color: white;
}

/* задачі */
.task {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.task:hover {
    transform: translateY(-3px);
}

.title {
    font-size: 18px;
    margin-bottom: 8px;
    color: #666;
}

.meta {
    font-size: 13px;
    color: #999;
}

.actions {
    margin-top: 10px;
}

.actions a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
    color: #f5a9b8;
}

.actions a:hover {
    text-decoration: underline;
}

/* іконки */
.icon {
    width: 28px;
    vertical-align: middle;
    margin: 0 6px;
}

.icon-small {
    width: 16px;
    vertical-align: middle;
    margin-right: 6px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    width: 100%;
    margin: 8px 0;
}

.dropdown-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    margin-top: 5px;
    overflow: hidden;
    z-index: 100;
}

.dropdown-list div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-list div:hover {
    background: #f8c8dc;
    color: white;
}

/*календар */
.date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}